@media(max-width: 1199px){
  
}  

@media(max-width: 991px){
  
}

@media(max-width: 767px){
.intro{
    padding:40px;
}
.btn-movie{
    width: 134px;
}
.filter-found {
    width: 134px;
}
.cercle{
display: none;
}
.movie-genres{
    display:block;
}



}

@media(max-width: 565px){
.genre-menu{
    padding:10px;
}

.modal{
    display: block;
  
}
.main-link{
    display: none;
}
.modal-close{
    padding:1px;
}
.burger-menu{
    left:40px;
}
.movie-grid{
    justify-content: center;
}
.search{
    justify-content: center;
}
}

@media(max-width: 480px){
    
.intro__text{
    font-size: 1em;
}
.burger-menu{
    left:63px;
}
 
}

@media(max-width: 320px){
    .btn-movie{
        width: 84px;
    }
 
    .burger-menu{
        left:40px;
    }
}
